.aside {
	width: 21rem;
	font-size: 1.625rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: fixed;
	height: 100vh;
	padding-left: 1.5rem;
}

.social {
	padding-top: 2rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.item svg {
	fill: var(--blue-main);
}
