.logo {
	display: flex;
	align-items: center;
	color: var(--bg-light-2);
	position: fixed;
	bottom: 2rem;
	left: 1.5rem;
}

.image {
	margin-right: 0.25rem;
}

.tradeMark {
	font-size: 0.75rem;
	display: flex;
}
