.nav {
  grid-area: n;
  background-color: var(--red-main);
  box-shadow: 0 4px 20px rgba(59, 130, 246, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 1.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  height: calc(100vh - 5rem);
}

.item {
  color: var(--white-main);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateX(-10px);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.item:hover {
  background-color: var(--bg-light-2);
  color: var(--red-main);
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav .activeLink {
  color: var(--red-main);
  background-color: var(--white-main);
  font-weight: 600;
}
