.logo {
	padding-top: 1rem;
	display: flex;
	text-align: center;
	align-items: center;
	color: var(--blue-main);
	column-gap: 0.5rem;
}

.image {
	height: 127px;
	background-color: var(--bg-light-2);
}

.near {
	font-size: 3.5rem;
	font-weight: 600;
	/* font-family: "Skaryna 2017 Title"; */
}
